@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

:root{
  --primary: #A84FFF;
  --primary2: #9130f1;
  --secondary: #18a32b;
  --tersier: #311ed8;
  --dark: #313741;
  --light: #eeeeee;
  --grey: #888888;

  --font: 'Fira Sans', sans-serif;
  --font-quote: 'Trocchi', serif;
  --font-title: 'Fira Code', monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

body{
  background-color: var(--light);
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: all 0.5s ease-in-out;
  
}
.container{
  padding: 1rem 5.5rem 1rem 5.5rem;
  transition: 0.4s;
  box-shadow:  3px 6px 6px rgba(0, 0, 0, 0.2);
}
.container:hover{
  box-shadow: 3px 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);

}
.quote{
  position: relative;
  transition: all 0.5s ease-in-out;
}
.quote_print{
  font-family: var(--font-quote);
  max-width: 720px;
  font-size: 2rem;
  background-color: var(--dark);
  padding: 3rem;
  /* border-radius: 1.5rem; */
  color: #fff;
}

.loading{
    font-family: var(--font-quote);
    max-width: 720px;
    font-size: 2rem;
    /* background-color: var(--dark); */
    padding: 3rem;
    /* border-radius: 1.5rem; */
    color: #fff;
}
.anime, .character{
  display: inline-block;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  border-radius: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 1px;
  max-width: 360px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 3px 4px rgba(0, 0, 0, 0.2);
}

.anime{
  background-color: var(--secondary);
  font-weight: 400;
  transform: translate(-25%, 50%);
}

.character{
  background-color: var(--tersier);
  font-weight: 700;
  transform: translate(25%, 50%);
  position: absolute;
  right: 0;
  bottom: 0;
}

button{
  appearance: none;
  border: none;
  outline: none;
  background-color: var(--grey);
  color: #fff;
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  margin-top: 64px;
  margin-bottom: 64px;
  transition: .4s;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover{
  background-color: var(--primary2);
}

.btn{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}
.btn-item{
  margin: .5rem;
}

.title{
  font-family: var(--font-title);
  max-width: 720px;
  font-size: 3rem;
  padding: 3rem;
  color: #fff;
  text-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  
}

.search-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border-radius: 16px; */
  /* overflow: hidden; */
  width: 100%;
  max-width: 480px;
  margin-bottom: 16px;
  transition: 0.4s;
  padding: 1rem;
  margin: 1rem;
}

.search-box input {
  display: block;
  appearance: none;
  outline: none;
  border: none;
  border-radius: 16px;
  padding: 16px;
  width: 100%;
  transition: 0.4s;

}

.search-box:focus-within {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}